# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# C extensions
*.so

# Translations
*.mo
*.pot

# Unit test / coverage reports
.pytest_cache/
.coverage
.cache
coverage

# Flask stuff
instance/
.webassets-cache

# Editors
.vscode/
.idea/

# Environments
.env
.env.bak
.venv/
.venv.bak/
env/
venv/
env.bak/
venv.bak/

# SQLite databases
*.sqlite*

# Log Files
logs/*
!logs/.gitkeep
*.log

# Data Files
data/*
!data/.gitkeep

# Temporary Files
temp*
